html,
body,
.intro {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 750px) {
  html,
  body,
  .intro {
    height: 830px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro {
    height: 830px;
  }
}

.login-style {
  background-color: #8bc34a;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.login-style:hover {
  box-shadow: 0 8px 9px -4px rgba(139, 195, 74, .3), 0 4px 18px 0 rgba(139, 195, 74, .2);
}

.gradient-custom {
  /* fallback for old browsers */
  background: rgba(17, 101, 48, 1);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(17, 101, 48, 1), rgba(17, 101, 48, 1), rgba(17, 101, 48, 1)); /* rgba(139, 195, 74, 1), rgba(75, 130, 13, 1), */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(17, 101, 48, 1), rgba(17, 101, 48, 1), rgba(17, 101, 48, 1));  
}

.forgot {
    float: right;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.centered {
  top: 30%;
}

.input {
  background-color: transparent;
  border-color: white;
}

.button {
  background-color: white;
  color: rgba(17, 101, 48, 1);
}

.button:hover {
  box-shadow: 0 8px 9px -4px hsla(0,0%,98.4%,.3), 0 4px 18px 0 hsla(0,0%,98.4%,.2);
  background-color: #fff;
}

button.btn.btn-white.btn-rounded.px-5.button.mb-3 {
  border-radius: 3em;
}

button.btn.btn-success.btn-rounded.btn-lg.gradient-custom-4.px-5.text-white {
  border-radius: 3em;
}

Link {
  color: white;
}

.bottom {
  margin-bottom: 32px;
}

@media (min-width: 560px) and (max-width: 750px) {
  .for-mobile {
    width: 50px;
  }
}

.card-flyer {
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
}

.card-flyer .image-box {
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
}

.card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav link {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav link:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-height: 450px) {
  .side {
    margin-left: 14rem;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.undragable {
  /* user-drag: none;  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
